:root {
  --main-side-padding: clamp(1rem, 6vw, 20rem);
}


body {
  background: var(--primary);
}

article {
}

section {
  width: 100%;
}

.header {
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  background: url("background.jpg");
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: relative;
  font-family: 'Playfair';
  padding: 3rem var(--main-side-padding);
  gap: 1rem;
}

.header::before {
  content: "";
  inset: 0;
  margin: auto;
  position: absolute;
  background: linear-gradient(
    rgba(0,0,0,.4),
    rgba(0,0,0,.9) 85%
  );
  z-index: 0;
}

.header > h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  z-index: 1;
}

.header > a {
  border: 1px solid white;
  color: white;
  width: clamp(25%, 25vh, 50%);
  text-align: center;
  text-decoration: none;
  z-index: 1;
  padding: .2rem;
}


.invitation {
  display: flex;
  flex-direction: column;
  background: var(--yellow);
  padding: 4rem var(--main-side-padding);
  border-bottom-left-radius: 100% 1rem;
  gap: 1rem;
}

.invitation > .head {
  font-family: 'Playfair';
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.invitation > .link {
  margin-top: 1rem;
  height: 100%;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.invitation > .link > a {
  display: flex;
  text-decoration: none;
  background: black;
  color: white;
  width: auto;
  height: 3rem;
  text-align: center;
  align-items: center;
  align-self: center;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 600;
  gap: .5rem;
}

.link > a svg {
  height: 135%;
}

.link > #call {
  filter: invert(0);
  transition: filter 300ms ease;
}



.link > #call svg {
  transform: rotate(135deg);
  transition: transform 300ms ease;
}


.contact {
  padding: 0 var(--main-side-padding);
  max-height: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-gap: .25rem;
  transition: max-height 500ms ease;
  overflow: hidden;
  overflow-y: scroll;
}


.contact > .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  aspect-ratio: 3/4;
  background: var(--yellow-3);
  padding: .5rem;
  border-radius: .3rem;
  gap: .5rem;
}

.profile > .photo-profile {
  height: 50%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url("image.jpg");
  background-size: 100%;
}









.intro {
  padding: 2rem var(--main-side-padding);
  background: var(--primary);
}


.intro > .description {
  font-family: 'Playfair';
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.intro > .description > h1 {
  font-size: 2rem;
  color: var(--theme-font-head);
}

.intro > .description > p {
  color: var(--theme-font-body);
}


.intro > a {
  background: black;
  border-radius: .3rem;
  padding: .3rem .8rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
}



.slider {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.item {
  background: var(--yellow-2);
  width: 100%;
  aspect-ratio: 4/4;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .5rem;
  gap: 1rem;
}

.item > .icon {
  height: 70%;
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center 25%;
  border-radius: .3rem;
}

.item > .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30%;
}

.item > .desc > p {
  font-size: .8rem;
}

.item > .desc > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-weight: 600;
}

.item > .desc > div > a {
  color: black;
}







.footer {
  --gap-size: .75rem;
  background: black;
  color: white;
  padding: 3rem var(--main-side-padding);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.part {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
  color: hsl(0,0%,100%);
}

.part > div {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.part > div > a {
  font-weight: 450;
  color: hsl(0,0%,80%);
  text-decoration: none;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.social-media > div {
  display: flex;
  position: relative;
  align-items: center;
  height: 2.5rem;
  gap: 1rem;
}

.social-media > div a {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media > div > a svg {
  height: 60%;
  aspect-ratio: 1/1;
}

.social-media > div > .insta svg {
  height: 50%;
  aspect-ratio: 1/1;
}

.social-media > div .insta {
  background: var(--instagram);
}

.social-media > div .youtube {
  background: hsl(0, 100%, 60%);
}



.feedback {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
  width: 85%;
}

.feedback > p {
  color: hsl(0,0%,80%);
  font-weight: 450;
}

.feedback > form {
  display: flex;
  height: 2.65rem;
  width: 100%;
  gap: .1rem;
}

.feedback > form > input {
  border: none;
  border-radius: none;
  width: 100%;
  padding: .5rem;
  font-weight: 500;
  font-size: 1.03rem;
}

.feedback > form > button {
  border: none;
  border-radius: none;
  width: 15%;
  background: var(--yellow);
}

.feedback > form > button svg {
  height: 60%;
  aspect-ratio: 1/1;
  transform: translate(-6%, 5%);
}

.bottom {
  color: white;
  display: flex;
  height: 5rem;
  background: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-top: .05rem solid hsl(0,0%, 20%);
}
